<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2"><a routerLink="" class="logo"><span>Enjoy</span>Car</a></h2>
                    <p></p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft d-flex mt-5 ">
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span
                                    class="me-4 icon bi-twitter "></span></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span
                                    class="me-4 icon bi-facebook"></span></a></li>
                        <li class="ftco-animate fadeInUp ftco-animated"><a href="#"><span
                                    class="icon bi-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Information</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">À propos</a></li>
                        <li><a href="#" class="py-2 d-block">Services</a></li>
                        <li><a href="#" class="py-2 d-block">Termes et conditions</a></li>
                        <li><a href="#" class="py-2 d-block">confidentialité&amp; Politique de cookies</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Service client</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Modalité de paiement</a></li>
                        <li><a href="#" class="py-2 d-block">Conseils de réservation</a></li>
                        <li><a href="#" class="py-2 d-block">Comment ça fonctionne</a></li>
                        <li><a href="#" class="py-2 d-block">Contactez-nous</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Vous avez des questions ?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="bi bi-geo-alt-fill"></span><span class="text">rue girofles Hammamet, NABEUL</span></li>
                            <li><a href="#"><span class="bi bi-telephone-fill"></span><span class="text">+216 27 841 624</span></a></li>
                            <li><a href="#"><span class=" bi bi-envelope-fill"></span><span
                                        class="text">enjoycar@enjoycar.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="footer-text">
                    ©2023 Tous droits réservés. 
                </p>
            </div>
        </div>
    </div>
</footer>