<body class="text-center account-page">
    <main class="form-account account-card">
        <div class="card-body">
            <div class="logo" style="font-size: 40px;"><span>Enjoy</span><span><span>Car</span></span></div>
            <hr class="solid">
            <form [formGroup]="registerForm" class="mt-4">
                <div class="form-floating mb-2">
                    <input formControlName="firstName" type="text" class="form-control" id="signupfirstname"
                        placeholder="Nom">
                    <label for="signupfirstname">Nom</label>
                </div>
                <div class="form-floating mb-2">
                    <input formControlName="lastName" type="text" class="form-control" id="signuplastname"
                        placeholder="Prenom">
                    <label for="signuplastname">Prenom</label>
                </div>
                <div class="form-floating mb-2">
                    <input formControlName="email" type="email" class="form-control" id="signupemail"
                        placeholder="name@example.com">
                    <label for="signupemail">E-mail</label>
                </div>
                <div class="form-floating mb-2">
                    <input formControlName="password" type="password" class="form-control" id="signuppassword"
                        placeholder="Mot de passe">
                    <label for="signuppassword">Mot de passe</label>
                </div>
                <div class="form-floating mb-2">
                    <input formControlName="confirmPassword" type="password" class="form-control"
                        id="signupconfirmpassword" placeholder="Mot de passe à nouveau">
                    <label for="signupconfirmpassword">Mot de passe à nouveau</label>
                </div>

                <div class="checkbox mb-3 mt-3 text-light">
                    <label>
                        <input type="checkbox" value="remember-me" [(ngModel)]="rememberMe"
                            [ngModelOptions]="{standalone: true}"> souviens mon email
                    </label>
                </div>
                <button (click)="register()" class="w-100 btn btn-lg"
                    style="background-color: var(--firstThemeColor); color: var(--secondThemeColor);"
                    type="submit"><strong>S'INSCRIRE</strong></button>

                <div class="text-light mt-3" style="font-size:14px">
                    Avez-vous déjà un compte?<a routerLink="/account/login"
                        style="color: var(--firstThemeColor);">Connectez vous maintenant!</a>
                </div>
            </form>
        </div>
    </main>
</body>